In [14]:
import pandas as pd

df = pd.read_csv("C:/Users/cvmda/code/data/ds/manu_demand_forecast/Preprocessed_data.csv")
df.head()

,CUSTOMER_ORDER_ID,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,ORDER_AMOUNT,REQUESTED_DELIVERY_DATE,ORDER_CURRENCY,CREDIT_STATUS,CUSTOMER_NUMBER,amount_in_usd,uniue_cust_id
0,946851639,3537,United States of America,South-Region,"0,00",1000,3220,2022-01-01,43012,SR02,756141537,954.61,2022-01-13,EUR,0.0,12311807,1030.9788,12315027
1,963432061,3449,Martinique,South-Region,"0,00",1000,3220,2022-01-01,43114,NR03,798847812,787.36,2022-01-11,EUR,0.0,12311807,850.3488,12315027
2,971991639,3238,Moldova,South-Region,"82342,02",I200,3260,2022-01-01,110019,NR01,960984659,67493.46,2022-01-12,EUR,93.0,12118758,72892.9368,12122018
3,754349803,3911,United Arab Emirates,South-Region,"1471,24",N000,3290,2022-01-01,153013,SR02,925857642,1405.54,2022-01-06,EUR,93.0,1210499770,1517.9832,1210503060
4,930253442,2381,Greece,South-Region,"0,00",N000,3290,2022-01-01,160020,SR01,947942786,0.00,2022-01-06,EUR,64.0,1210351400,0.0000,1210354690

In [15]:
df.columns

Index(['CUSTOMER_ORDER_ID', 'SALES_ORG', 'DISTRIBUTION_CHANNEL', 'DIVISION',
       'RELEASED_CREDIT_VALUE', 'PURCHASE_ORDER_TYPE', 'COMPANY_CODE',
       'ORDER_CREATION_DATE', 'ORDER_CREATION_TIME', 'CREDIT_CONTROL_AREA',
       'SOLD_TO_PARTY', 'ORDER_AMOUNT', 'REQUESTED_DELIVERY_DATE',
       'ORDER_CURRENCY', 'CREDIT_STATUS', 'CUSTOMER_NUMBER', 'amount_in_usd',
       'uniue_cust_id'],
      dtype='object')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101925 entries, 0 to 1101924
Data columns (total 18 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   CUSTOMER_ORDER_ID        1101925 non-null  int64
 1   SALES_ORG                1101925 non-null  int64
 2   DISTRIBUTION_CHANNEL     1101925 non-null  object
 3   DIVISION                 1101925 non-null  object
 4   RELEASED_CREDIT_VALUE    1101925 non-null  object
 5   PURCHASE_ORDER_TYPE      1101925 non-null  object
 6   COMPANY_CODE             1101925 non-null  int64
 7   ORDER_CREATION_DATE      1101925 non-null  object
 8   ORDER_CREATION_TIME      1101925 non-null  int64
 9   CREDIT_CONTROL_AREA      1101925 non-null  object
 10  SOLD_TO_PARTY            1101925 non-null  int64
 11  ORDER_AMOUNT             1101925 non-null  float64
 12  REQUESTED_DELIVERY_DATE  1101925 non-null  object
 13  ORDER_CURRENCY           1101925 non-null  object
 14  CREDIT_STATUS            1101925 non-null  float64
 15  CUSTOMER_NUMBER          1101925 non-null  int64
 16  amount_in_usd            1101925 non-null  float64
 17  uniue_cust_id            1101925 non-null  int64
dtypes: float64(3), int64(7), object(8)
memory usage: 151.3+ MB

In [4]:
cat_cols = [col for col in df.columns if df[col].dtype == 'object']
num_cols = [col for col in df.columns if df[col].dtype != 'object']

In [5]:
cat_cols

['DISTRIBUTION_CHANNEL',
 'DIVISION',
 'RELEASED_CREDIT_VALUE',
 'PURCHASE_ORDER_TYPE',
 'ORDER_CREATION_DATE',
 'CREDIT_CONTROL_AREA',
 'REQUESTED_DELIVERY_DATE',
 'ORDER_CURRENCY']

In [6]:
num_cols

['CUSTOMER_ORDER_ID',
 'SALES_ORG',
 'COMPANY_CODE',
 'ORDER_CREATION_TIME',
 'SOLD_TO_PARTY',
 'ORDER_AMOUNT',
 'CREDIT_STATUS',
 'CUSTOMER_NUMBER',
 'amount_in_usd',
 'uniue_cust_id']

In [7]:
df.isna().sum()

CUSTOMER_ORDER_ID               0
SALES_ORG                       0
DISTRIBUTION_CHANNEL            0
DIVISION                        0
RELEASED_CREDIT_VALUE           0
PURCHASE_ORDER_TYPE         18692
COMPANY_CODE                    0
ORDER_CREATION_DATE             0
ORDER_CREATION_TIME             0
CREDIT_CONTROL_AREA             0
SOLD_TO_PARTY                   0
ORDER_AMOUNT                    0
REQUESTED_DELIVERY_DATE         0
ORDER_CURRENCY                  0
CREDIT_STATUS              882447
CUSTOMER_NUMBER                 0
amount_in_usd                   0
uniue_cust_id                   0
dtype: int64

In [8]:
df[df["PURCHASE_ORDER_TYPE"].isna()]

,CUSTOMER_ORDER_ID,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,ORDER_AMOUNT,REQUESTED_DELIVERY_DATE,ORDER_CURRENCY,CREDIT_STATUS,CUSTOMER_NUMBER,amount_in_usd,uniue_cust_id
70,919632251,2710,Burundi,South-Region,"0,00",NaN,271,2022-01-03,64511,SR03,828441320,46005.23,2022-01-03,AED,NaN,1210433463,12421.4121,1210433734
71,795398490,2321,Bolivia,South-Region,"0,00",NaN,271,2022-01-03,71750,SR01,890801004,35009.98,2022-01-03,AED,NaN,1210433463,9452.6946,1210433734
72,871157328,3386,Montserrat,South-Region,"0,00",NaN,271,2022-01-03,74332,SR01,776045549,31114.49,2022-01-03,AED,NaN,1210433463,8400.9123,1210433734
74,862209197,3029,Central African Republic,North-Region,"0,00",NaN,3220,2022-01-03,82428,NR04,990149098,12.16,2022-01-03,EUR,NaN,1230022753,13.2544,1230025973
75,912861883,3449,Faroe Islands,South-Region,"0,00",NaN,3220,2022-01-03,112025,NR02,992925141,766.25,2022-01-03,EUR,NaN,1230006895,835.2125,1230010115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101920,853605710,2498,Germany,South-Region,"0,00",NaN,4260,2022-06-01,74357,NR02,946056501,4415.19,2022-06-01,SGD,NaN,1210331804,3311.3925,1210336064
1101921,998890898,4509,Armenia,South-Region,"0,00",NaN,4260,2022-06-01,84052,NR04,894775488,0.00,2022-06-01,SGD,NaN,1210331804,0.0000,1210336064
1101922,983330221,3951,Nepal,South-Region,"0,00",NaN,4260,2022-06-01,85322,NR01,909729781,0.00,2022-06-01,SGD,NaN,1210331811,0.0000,1210336071
1101923,926668029,3235,Panama,South-Region,"0,00",NaN,4260,2022-06-01,90538,SR04,940836817,0.00,2022-06-01,SGD,NaN,1210331811,0.0000,1210336071
1101924,921701000,2968,Nicaragua,South-Region,"0,00",NaN,4260,2022-06-01,113357,NR02,754385277,4415.19,2022-06-01,SGD,NaN,1210331804,3311.3925,1210336064

In [9]:
df["PURCHASE_ORDER_TYPE"].unique()

array(['1000', 'I200', 'N000', 'N250', '9999', 'NAAA', '2590', 'N241',
       'DFUE', nan, 'S000', 'T001', 'F001', '110', '6222', '9140', '210',
       'URHA', 'A000', 'AZ40', 'I204', 'I186', 'IWHS', 'I183', '6219',
       '2554', '9291', 'IGRO', '1365', '1385', '1386', '1387', '2558',
       '1555', '3322', '1388', '1384', '1369', '2551', '7545', 'F708',
       'F000', 'F705', 'F592', 'F707', 'F710', 'IFGM', 'B000', 'S844',
       '2546', '4800', '6223', 'F999', '7559', '7542', '350', 'I001',
       '7541', 'I333', 'NHK3', 'I327', '1345', 'I203', 'I202', 'F704',
       'UCOL', 'KBAS', '1368', 'F593', '2575', '1383', 'N245', 'N244',
       'F706', 'I334', '120', 'N242', 'B242', '211', '7544', 'S342',
       'B251', 'B245', 'B252', 'B244', '5111', 'A225', 'A229', 'A234',
       'N120', '243', 'U001', 'A601', 'S787', 'N121', 'B241', 'S788',
       '320', 'N247', 'N217', '4111', 'A224', 'A758', 'A231', 'A223',
       'A226', 'A232', 'F697', 'A228', 'A233', 'F711', 'USTA', 'F900',
       '1566', '1002', 'A227', 'UA01', 'F591', 'S700', 'N251', 'N252',
       'N253', '7540', '348', 'I332', '3323', '244', '245', 'IKYL',
       'IRDZ', 'F618', 'S200', '2560', 'IRIN', 'NMDM', 'NMFC', 'NSIO',
       'NSID', 'F583', 'N254', 'S791', 'S793', '9271', 'UFRG', 'N246',
       'NADI', '347', '1565', 'B247', '7543', 'S972', 'N601', 'I342',
       'I331', 'S786', 'S790', 'S785', '345', 'I339', 'A230', 'I338',
       'I335', 'I349', 'S792', '2570', 'B106', 'F588', 'I326', 'B253',
       'B254', 'I346', 'F590', '247', '249', 'NAKV', 'B246', 'IGFR',
       '250', '248', 'N256', '346', '349', 'UA02', 'I344', '2547', 'I351',
       'S789', '1010', 'I341', 'I337', 'N281', 'B288', '2548', 'F712',
       'IPHY', 'I343', 'I347', 'F713', 'F709', 'F717', 'F715', '7550',
       'F716', 'N285', 'I348', '7553', '7548', '246', '342', 'IDIP',
       '1390', '1389', 'B285', 'B103', '341', '343', 'I207', 'F714',
       'SPEZ', '7556', 'I336', 'NHK4', '241', 'B500', 'I353', 'B255',
       'NVF2', '7546', '7547', 'N255', 'I324', 'N286', 'B286', '242',
       'IBPR', 'B280', '7549', 'S795', 'I354', 'S794', '7557', '1395',
       '1397', '1393', '1394', '1391', 'F719', '6224', 'A010', 'N288',
       'N284', 'F718', 'N280', '3353', 'IFGT', 'N500', 'A239', 'A240',
       'A242', '7555', 'N125', 'A238', 'A241', '7558', 'N991', 'S805',
       'S806', 'S798', 'S799', 'F727', 'S807', 'S804', 'F726', 'N127',
       'I340', 'I345', 'F720', 'S803', 'S802', 'N114', '7551', '130',
       'N289', '1398', '7571', '7552', 'F723', 'F721', 'F728', 'NBB1',
       'N129', 'B289', 'F729', 'NRL1', 'B290', 'NRAS', '6229', '7554',
       'F731', 'F724', 'F736', 'B292', 'NAIO', 'F735', 'N291', 'F734',
       'B291', 'ICOI', 'F733', 'I357', 'F589', 'IEST', 'I358', '7560',
       'F725', 'NVI1', 'B294', 'N294', 'N123', 'S294', 'I359', 'IMAR',
       'F732', 'N292', 'B123', 'I352', 'I360', 'I363', 'B990', '1503',
       '1201', '1318', '1402', '1403', '1205', '1401', '5010', '1202',
       'B296', 'N296', 'C000', 'X001', 'X000', 'XXXX', 'P000', 'C004',
       'X26W', 'X26Y', 'X26Z', 'X27A', 'XFXX'], dtype=object)

In [10]:
df.fillna("NA", inplace=True)

C:\Users\cvmda\AppData\Local\Temp\ipykernel_31484\746741227.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna("NA", inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1101925 entries, 0 to 1101924
Data columns (total 18 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   CUSTOMER_ORDER_ID        1101925 non-null  int64
 1   SALES_ORG                1101925 non-null  int64
 2   DISTRIBUTION_CHANNEL     1101925 non-null  object
 3   DIVISION                 1101925 non-null  object
 4   RELEASED_CREDIT_VALUE    1101925 non-null  object
 5   PURCHASE_ORDER_TYPE      1101925 non-null  object
 6   COMPANY_CODE             1101925 non-null  int64
 7   ORDER_CREATION_DATE      1101925 non-null  object
 8   ORDER_CREATION_TIME      1101925 non-null  int64
 9   CREDIT_CONTROL_AREA      1101925 non-null  object
 10  SOLD_TO_PARTY            1101925 non-null  int64
 11  ORDER_AMOUNT             1101925 non-null  float64
 12  REQUESTED_DELIVERY_DATE  1101925 non-null  object
 13  ORDER_CURRENCY           1101925 non-null  object
 14  CREDIT_STATUS            1101925 non-null  object
 15  CUSTOMER_NUMBER          1101925 non-null  int64
 16  amount_in_usd            1101925 non-null  float64
 17  uniue_cust_id            1101925 non-null  int64
dtypes: float64(2), int64(7), object(9)
memory usage: 151.3+ MB

In [17]:
df[df["amount_in_usd"]==0]

,CUSTOMER_ORDER_ID,SALES_ORG,DISTRIBUTION_CHANNEL,DIVISION,RELEASED_CREDIT_VALUE,PURCHASE_ORDER_TYPE,COMPANY_CODE,ORDER_CREATION_DATE,ORDER_CREATION_TIME,CREDIT_CONTROL_AREA,SOLD_TO_PARTY,ORDER_AMOUNT,REQUESTED_DELIVERY_DATE,ORDER_CURRENCY,CREDIT_STATUS,CUSTOMER_NUMBER,amount_in_usd,uniue_cust_id
4,930253442,2381,Greece,South-Region,"0,00",N000,3290,2022-01-01,160020,SR01,947942786,0.0,2022-01-06,EUR,64.0,1210351400,0.0,1210354690
6,756619705,4269,Bahrain,North-Region,"1974,66",9999,59,2022-01-02,73006,NR03,795887697,0.0,2021-12-31,RON,93.0,1210109233,0.0,1210109292
57,778638920,2373,Thailand,South-Region,"0,00",DFUE,3350,2022-01-01,60015,NR01,815559921,0.0,2022-01-03,EUR,0.0,1230010772,0.0,1230014122
62,870847173,4352,Poland,North-Region,"0,00",DFUE,3350,2022-01-01,60021,NR02,966162539,0.0,2022-01-03,EUR,0.0,12300106,0.0,12303456
67,822817658,2491,Netherlands,North-Region,"0,00",DFUE,3350,2022-01-01,60020,SR01,754485523,0.0,2022-01-03,EUR,0.0,12300106,0.0,12303456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101891,835314074,3410,Taiwan,South-Region,"0,00",T001,4260,2022-06-01,144135,NR04,976168967,0.0,2022-07-25,USD,0.0,12137245,0.0,12141505
1101892,958175613,4452,Mauritania,South-Region,"0,00",T001,4260,2022-06-01,144527,NR01,851834280,0.0,2022-07-25,USD,0.0,12137245,0.0,12141505
1101921,998890898,4509,Armenia,South-Region,"0,00",Not Available,4260,2022-06-01,84052,NR04,894775488,0.0,2022-06-01,SGD,0.0,1210331804,0.0,1210336064
1101922,983330221,3951,Nepal,South-Region,"0,00",Not Available,4260,2022-06-01,85322,NR01,909729781,0.0,2022-06-01,SGD,0.0,1210331811,0.0,1210336071
1101923,926668029,3235,Panama,South-Region,"0,00",Not Available,4260,2022-06-01,90538,SR04,940836817,0.0,2022-06-01,SGD,0.0,1210331811,0.0,1210336071

: